{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "awscli"
brew "fzf"
brew "git"
brew "herdr"
brew "jenv"
brew "opencode"
brew "openjdk"
brew "python"
brew "terraform"

cask "claude-code"
cask "opensuperwhisper"
cask "wezterm"
EOF
{{ end -}}

