{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -euo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "awscli"
brew "fzf"
brew "git"
brew "herdr"
brew "jenv"
brew "opencode"
brew "openjdk"
brew "python"

cask "claude-code"
{{ if or (eq .machineType "personal") (eq .machineType "work") }}
cask "opensuperwhisper"
cask "wezterm"{{ end }}
EOF
{{ end -}}

